<%- include('../partials/header', {active: "Disclaimer" }) %>

<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
  <p>
    This site/project/application/etc. makes use of materials and resources
    provided by OpenAI. These materials are intended for non-commercial use only
    and are provided 'as is', without warranty of any kind, express or implied.
    OpenAI does not endorse or assume any liability for the use of these
    materials. By accessing and using these materials, you agree to the terms
    and conditions outlined by OpenAI and to comply with all applicable laws and
    regulations.
  </p>
  <p>
    The use of these materials is solely at your own risk. The
    site/project/application/etc. and its creators/contributors/affiliates/etc.
    do not assume any liability or responsibility for any errors, omissions, or
    inaccuracies in the materials or for any loss or damage of any kind that may
    result from their use. The site/project/application/etc. and its
    creators/contributors/affiliates/etc. shall not be held liable for any
    damages or losses of any kind, whether direct, indirect, incidental,
    consequential, or punitive, arising out of or in connection with the use of
    these materials.
  </p>
</div>

<%-include('../partials/footer') %>
