<!<%- include('../partials/header', {active: "" }) %>


    <p> this is the show page</p>

    <ul>
        <li>
            title: <%= course.title %>
        </li>
        <li>
            user: <%= course.user.createdAt %>
        </li>
        <li>
            content: <%= course.contents[0].createdAt %>

        </li>
        <li>

        </li>
    </ul>