:root {
  --header-footer-color: #f3f3ef;
}
/* F8F9FA e5e5da*/

* {
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  color: #424748;
}

a {
  color: #00B7FF;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body>nav {
  grid-area: nav;
  background-color: var(--header-footer-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav>div {
  margin: 0px 25px 0px 10px;
}

body>main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  overflow-y: auto;
}

main>*:nth-last-child(2) {
  margin-bottom: 120px;
}


main > h1 {
  padding-top: 10px;
}

.sectionDiv {
  padding: 10px;
  margin-bottom: 13px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

/* new-ejs ------------- */
.creating-course-container {
  min-width: 120rem;
  padding: 10px 400px 10px;
}

.form-group>label {
  font-weight: bold;
  padding-left: 3px;
}

.form-control::-webkit-input-placeholder {
  color: rgb(135, 119, 119);
}

#learning-objectives>.form-group {
  margin-bottom: 6px;
}

p.title-message {
  font-size: 14px;
}

/* new-ejs ------------- end*/

#submit {
  float: right;
}

/* home banner */
main>.banner-home {
  background-color: #f3f3ef;
  min-height: 850px;
}

.banner-home>.container>.row:not(#banner-home-buttons) {
  min-height: 350px;
  /* border: solid white 2px; */
}
.banner-home>.container>.row#banner-home-buttons {
  height: 100px;
  /* border: solid white 2px; */
}

#banner-home-button {
  background-color: rgb(224, 150, 150);
  border: none;
}

.banner-home>.container>.row h1 {
  text-shadow: 5px 5px 10px #b4b4b4;
  font-weight: 700;
  font-size: 69px;
}

.banner-home>.container>.row h5 {
  padding-top: 30px;
  text-align: left;
  font-weight: 600;
  font-size: 30px;
}

.banner-home>.container>.row img {
  margin-top: 65px;
  width: 90%;
  border: 0px;
  border-radius: 3px 60px / 60px;
  background-color: rgb(186, 200, 182);
  mix-blend-mode: multiply
}

.banner>.container>.row {
  padding: 10px 0px;
  min-height: 250px;
}


/* 98947D */


main>.banner {
  background-color: rgb(152, 148, 125);
  padding-top: 0px;
  margin-bottom: 30px;
}

.banner>.container>.row>.col>* {
  line-height: 100%;
}

.banner>.container>.row h1 {
  color: rgb(255, 255, 255);
}
.banner>.container>.row h5 {
  color: rgb(255, 255, 255);
}

.banner>.container>.row ul {
  padding-left: 0px;
}

.banner>.container>.row li {
  display: inline;
  color: rgb(255, 255, 255);
}

.bi-person {
  color: white;
  padding-right: 10px;
}

.bi-globe-americas {
  padding-right: 10px;
  color: white;
}

.banner>.container>.row li:not(:last-child):after {
  padding: 0px 5px;
  content: "|";
}

.foot {
  margin-top: auto;
  background-color: var(--header-footer-color);
}

p#description {
  white-space: pre-wrap;
}

.container#course-list {
  margin-top: 100px;

}

#course-list h1 {
  padding-left: 25px;
  padding-bottom: 20px;
}

.card>.card-body>:last-child {
  background-color: rgb(186, 200, 182);
  border: none;
  width: 40%;
  padding: 3px ;
}

.card.display {
  max-width: 90%;
  max-height: 100%;
}

/* 
column row css
*/

.accordion {
  margin-top: 30px;
}

.col-9 {
  min-height: 230px;
}
