<!DOCTYPE html>
<!-- Required for TinyMCE to function as intended -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TinyMCE Demo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- Text area matching the selector specified in the TinyMCE configuration -->
    <!-- Script element sourcing TinyMCE -->
    <script
      type="application/javascript"
      src="/tinymce/tinymce.min.js"
    ></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script
      type="application/javascript"
      src="/javascripts/my-tinymce-config.js"
    ></script>
  </body>
</html>
